<%- model_class = Folder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td>
          <ul class="tree">
            <li>
              <a href="#"><%= folder.name %></a>
              <ul>
                <% folder.medium.each do |media| %>
                  <li><%= link_to media.file_file_name, media.file.url() %></li>
                <% end %>
              </ul>
            </li>

          </ul>
        </td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      folder_path(folder), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_folder_path(folder), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      folder_path(folder),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_folder_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
  $('.tree').treed();
</script>