<%= form_for @medium, :html => { :class => "form-horizontal medium" } do |f| %>

  <% if @medium.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @medium.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :folder_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :folder_id, Folder.all, :id, :name, {:prompt => ""}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:folder_id) %>
  </div>
  <div class="form-group">
    <%= f.label :file, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :file, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Upload Files", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                media_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
